---
import { translations } from '@/i18n/translations'
import Hero from '@/sections/Hero.astro'
import CreateID from '@/sections/CreateID.astro'
import AboutMcLovin from '@/sections/AboutMcLovin.astro'
import Layout from '@/layouts/Layout.astro'

const t = translations.en
---

<Layout t={t}>
  <main class="w-full">
    <Hero t={t.hero} />
    <CreateID t={t.createId} />
    <AboutMcLovin t={t.about} />
  </main>
</Layout>
