---
import Hero from '@/sections/Hero.astro'
import CreateID from '@/sections/CreateID.astro'
import AboutMcLovin from '@/sections/AboutMcLovin.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="My McLovin ID — Crea tu ID de Superbad">
  <main class="w-full">
    <Hero />
    <CreateID />
    <AboutMcLovin />
  </main>
</Layout>
