---
import CreateID from '@/sections/CreateID.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto w-full max-w-screen-lg px-2 md:px-0">
    <CreateID />
  </main>
</Layout>
