---
import CreateID from '@/sections/CreateID.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto w-full max-w-screen-lg">
    <section>
      <h1 class="text-xl text-white font-bold text-center mt-10">
        Creates Fogell's fake credential
      </h1>
      <h2 class="text-md text-gray-300 text-center mb-10">
        Create the fake ID of the popular character from the movie SuperBad
      </h2>
    </section>
    <CreateID />
  </main>
</Layout>
