<div>
  <div
    class="w-[527px] h-[326px] bg-blue-500 absolute -z-[1] blur-md opacity-85"
  >
  </div>
  <canvas
    id="mclovin-canvas"
    class="rounded-md bg-transparent border border-slate-400"
    width="527"
    height="326"></canvas>

  <img
    hidden
    id="mcLovinID"
    src="images/mclovin-empty-id.webp"
    alt="Empty McLovin ID"
  />

  <img
    hidden
    id="mcLovinFace"
    src="images/mclovin-face.webp"
    alt="McLovin Face ID"
  />

  <img
    hidden
    id="mcLovinSign"
    src="images/mclovin-sign.webp"
    alt="McLovin Sign"
  />
</div>

<script>
  import { mclovin, fontSize } from '@/const/mclovinData'
  import { formattedDate } from '@/utils/formattedDate'

  const canvas = document.querySelector('#mclovin-canvas') as HTMLCanvasElement
  const ctx = canvas.getContext('2d')!

  const $mcLovinID = document.querySelector('#mcLovinID') as HTMLImageElement
  const $mcLovinFace = document.querySelector(
    '#mcLovinFace'
  ) as HTMLImageElement
  const $mcLovinSign = document.querySelector(
    '#mcLovinSign'
  ) as HTMLImageElement

  document.querySelector('#form')?.addEventListener('input', function () {
    drawCanvas()
  })

  const name = document.querySelector('#name') as HTMLInputElement
  const dob = document.querySelector('#dob') as HTMLInputElement
  const sex = document.querySelector('#sex') as HTMLSelectElement
  const photo = document.querySelector('#croppedImage') as HTMLImageElement

  photo?.addEventListener('load', () => {
    drawCanvas()
  })

  function drawCanvas() {
    // Clean canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height)
    // Draw empty ID
    ctx.drawImage($mcLovinID, 0, 0, canvas.width, canvas.height)
    // Draw McLovin photo
    ctx.drawImage(
      !!photo?.src ? photo : $mcLovinFace,
      mclovin.photo.posX / 3,
      mclovin.photo.posY / 3,
      $mcLovinFace.width / 3,
      $mcLovinFace.height / 3
    )
    // Draw McLovin sign
    ctx.drawImage(
      $mcLovinSign,
      mclovin.sign.posX / 3,
      mclovin.sign.posY / 3,
      $mcLovinSign.width / 4,
      $mcLovinSign.height / 4
    )

    ctx.font = `bold ${fontSize.title / 3}px Arial`
    // DOB
    ctx.fillText(
      formattedDate(dob?.value) || mclovin.dob.value,
      mclovin.dob.posX / 3,
      mclovin.dob.posY / 3
    )
    // EXP
    ctx.fillText(
      updateExpDate() || mclovin.exp.value,
      mclovin.exp.posX / 3,
      mclovin.exp.posY / 3
    )
    // NAME
    ctx.fillText(
      name?.value || mclovin.name.value,
      mclovin.name.posX / 3,
      mclovin.name.posY / 3
    )

    ctx.font = `bold ${fontSize.subtitle / 3}px Arial`
    // SEX
    ctx.fillText(
      sex?.value || mclovin.sex.value,
      mclovin.sex.posX / 3,
      mclovin.sex.posY / 3
    )
    // ISSUE DATE
    ctx.fillText(
      formattedDate(new Date().toDateString()) || mclovin.issueDate.value,
      mclovin.issueDate.posX / 3,
      mclovin.issueDate.posY / 3
    )
  }

  function updateExpDate() {
    if (!dob.value) return
    const dobDate = formattedDate(dob.value)
    const extractDate = dobDate?.split('/')
    if (!extractDate) return
    const year = new Date().getFullYear() + 10
    return `${extractDate[0]}/${extractDate[1]}/${year}`
  }

  drawCanvas()
</script>
