---
import Input from '@/components/ui/Input.astro'
import McLovinCanvas from '@/components/McLovinCanvas.astro'
import Select from '@/components/ui/Select.astro'

import { genresOptions } from '@/const/genres'
import TakePhoto from '@/components/TakePhoto.astro'
import Sign from '@/components/Sign.astro'
import Button from '@/components/ui/Button.astro'
import Download from '@/icons/download.astro'
---

<section class="mt-14">
  <div class="flex flex-col md:flex-row gap-4 mb-8">
    <div>
      <div>
        <h1 class="text-xl text-white font-bold">
          Creates Fogell's fake credential
        </h1>
        <h2 class="text-md text-gray-300 mb-10">
          Create the fake ID of the popular character from the movie SuperBad
        </h2>
      </div>
      <McLovinCanvas />
    </div>
    <form id="form" class="w-full">
      <Input id="name" label="Name" class="mb-5" maxlength="15" />
      <div class="flex gap-3 mb-5">
        <Input id="dob" type="date" label="DOB" class="flex-auto" />
        <Select id="sex" label="Genre" options={genresOptions} />
      </div>
      <TakePhoto />
      <Sign />
    </form>
  </div>
  <div class="text-center">
    <Button id="exportCanvas" size="lg" class="min-w-48">
      Export ID
      <Download />
    </Button>
  </div>
</section>

<script>
  import { $ } from '@/utils/domSelector'
  import { butterup } from 'butterup-toast'

  butterup.toast({
    title: 'Error al guardar el voto',
    message: 'fallo la cosa',
    location: 'bottom-center',
    type: 'error',
    icon: true,
    theme: 'dark'
  })
  butterup.toast({
    title: 'Error al guardar el voto',
    message: 'fallo la cosa',
    location: 'bottom-center',
    type: 'success',
    icon: true,
    theme: 'glass2'
  })

  const $canvas = $<HTMLCanvasElement>('#mclovin-canvas')
  const $exportCanvasButton = $<HTMLButtonElement>('#exportCanvas')

  $exportCanvasButton.onclick = () => {
    $exportCanvasButton.disabled = true

    let downloadLink = document.createElement('a')
    downloadLink.href = $canvas.toDataURL()
    downloadLink.download = 'my-mclovin-id.png'
    downloadLink.click()

    setTimeout(() => {
      $exportCanvasButton.disabled = false
    }, 1000)
  }
</script>
