---
import Footer from '@/sections/Footer.astro'
import Navbar from '@/sections/Navbar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Crea tu propio ID falso de McLovin de la película Superbad. Personaliza nombre, fecha de nacimiento, foto y firma." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-hawaii-navy">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import 'butterup-toast/dist/butterup.css';

  html {
    scroll-behavior: smooth;
  }

  .butteruptoast.dark {
    font-size: 21px;
    padding: 15px 20px;
  }
</style>