---
interface Props {
  id?: string
  desc?: string
  type?: 'button' | 'submit'
  isDisabled?: boolean
}

const {
  desc = 'Icon description',
  id,
  type = 'button',
  isDisabled = false,
} = Astro.props
---

<button
  id={id}
  type={type}
  class="text-white focus:ring-4 focus:outline-none font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
  disabled={isDisabled}
>
  <slot>Put the icon here</slot>
  <span class="sr-only">{desc}</span>
</button>
